@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:wght@500&family=Rubik:wght@300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container{
        max-width: 600px;
        width: calc(100% - 20px);
        margin: 0 auto;
}
body{
    font-family: Space Grotesk;
  
}


.sidebar{
    background-image: url('images/bg-main-desktop.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    left: 0;
    width: 30%;
    height: 100%;
}
.sidebar__date{
    display: flex;
}
.sidebar__inner{
   
    height: 100%;
    position: relative;
    /* background-color: grey; */
}
img{
    max-width: 350px;
}
.sidebar__cardtop{
    width: 80px;
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-top: 15px;
   margin-left: 15px;
    /* position: absolute;
    top: 0; */
}
.sidebar__fill-circle{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: white;
}
.sidebar__border-circle{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid white;
}
.sidebar__cardfront{
   position: absolute;
    top: 20%;
   left: 35%;
   background-image: url('images/bg-card-front.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 200px;
   width: 350px;
   border-radius: 10px;
   
}
.sidebar__cardfront-inner{
    /* background-color: grey; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:  20px ;
    color: white;
    position: relative;
    font-weight: 600;
}
.sidebar__cardtext{
    /* margin-top: 1rem; */
    font-size: 1.7rem;
    font-weight: 500;
}
.sidebar__cardtext2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: .7em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1;
}
.sidebar__cardtext-left{
    letter-spacing: 1.5px;
}
.sidebar__cardback{
    position: absolute;
    top: 53%;
    left: 55%;
    background-image: url('images/bg-card-back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.sidebar__cardback-inner{
    /* background-color: grey; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    padding: 10px;
    font-size: .8em;
    color: white;
    font-weight: 600;
    
}
.content input:focus{
    border: 1px solid black;
}
.content{

height: 100vh;
font-weight: 500;
font-size: .8rem;
/* display: none; */
}
.content__confirm{
    height: 100vh;
font-weight: 500;
font-size: .8rem;
display: none;

}
.content__inner{

 display: flex;
 flex-direction: column;
 align-items: flex-end;
 justify-content:center ;
 height: 100%;
 /* background-color: rgba(167, 165, 165, 0.507); */

}

.content__inner2{

    display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: center;
    height: 100%;
    /* background-color: rgba(167, 165, 165, 0.507); */
    line-height: 2.5;
    width: 100%;
    margin-left: 6rem;
   animation: confirm 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}
@keyframes confirm {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

   .content__svg{
       max-width: 50px;
   }
.content__heading{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}
.content__para{
    font-weight: 500;
    color: grey;
}
.content__flex{
    text-align: center;
    margin-bottom: 1rem;
    /* background-color: grey; */
   
}

::placeholder{
    font-family: Space Grotesk;
}
.content input{
    border-radius: 5px;
    padding:  10px;
    width: 300px;
    outline: none;
    border: 1px solid grey;
}
.content__inner > div{
    margin-bottom: 1.5rem;
}
.content__field input{
    width: 60px;
    margin-right: 5px;
}
.content__err{
    color: red;
    font-size: .8em;
    padding: 5px;
    display: none;
}
.content__err1{
    color: red;
    font-size: .9em;
    padding: 5px;
    opacity: 0;
}
.content__err2{
    color: red;
    font-size: .9em;
    padding: 5px;
    opacity: 0;
}
.code-red{
    border: 1px solid red;
}
label{
    display: block;
    margin-bottom: .3rem;
    font-weight: 600;
 
}
.content__subinfo{
    display: flex;
    width: 300px;
    font-size: .8em;
}
.content__F22{
    margin-left: .2rem;
}

.content__F22 input{
    width: 160px;
}
.content__btn{
    background-color: hsl(278, 68%, 11%);
    color: white;
    padding: 10px 25px;
    font-family: Space Grotesk;
    width: 300px;
    border-radius: 6px;
    border: none;
}
input{
    font-size: 1rem;
}
@media (max-width: 800px) {
    .content{
        height: 80vh;
    }
    .content__inner{
        align-items: center;
        justify-content: center;
        height: 90vh;
    }
  
   .sidebar{
       position: relative;
       top: 0;
       right: 0;
       height: 250px;
      
       width: 100%;
   }
   body{
    overflow-x: hidden;
   }
   .content__inner2{

    display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: center;
    height: 100%;
    /* background-color: rgba(167, 165, 165, 0.507); */
    line-height: 2.5;
    width: 100%;
   margin: 0;
   }
   .sidebar__inner{
       height: 280px;
       width: 100vw;
       /* background-color: grey; */
     
   }
   .sidebar__cardfront{
       left: 3%;
        top: 50%;
       z-index: 1;
       /* width: 300px; */
   }
   .sidebar__cardback{
       top: 10%;
       left: 10%;
       /* width: 300px; */
   }
}
@media (max-width: 375px) {
    .content__inner{
        align-items: center;
        justify-content: center;
        height: 80vh;
    }
    .sidebar__cardback{
        width: 300px;
        height: 200px;
        
    }
    .sidebar__cardfront{
        width: 300px;
        height: 200px;
    }
    .sidebar__cardtext2{
        margin-bottom: 15px;
    }
    .sidebar__cardtext{
        font-size: 1.4rem;
        margin-top: 0;
    }
}